@charset "UTF-8";

 /* 헤더폰트 */
 @import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
 /* 메뉴 폰트 */
 @import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Sunflower:wght@300&display=swap');
 /* 슬라이드 */
 @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	
 *{
   margin: 0;
   padding: 0;
    /* outline: 1px solid red;  */
   }
   a { 
     color: #fff; 
     text-decoration: none;        
   }
   a:hover{
     color: tan;
   }
 body{      
  background-color: #333;
 }
 /* 리스트 스타일 없앰 (전체처리) */
 li{
   list-style: none;
 }
 /* 헤더 */
 header{
   height: 100px;
   background-color: #333;
   color: #fff;
 }
 header> h1{
   padding: 30px 0px 30px 100px;
   font-family: 'Gamja Flower', cursive;
 }
 /* 메뉴 */
 nav{
   top: 0;
   position: sticky;
   z-index: 1;
 }
 .hd-ul{
   background-color: #222;
   display: flex;
   height: 100%;
   margin: 0;
   padding-bottom: 7px;
   font-family: 'Gamja Flower', cursive;
   font-family: 'Sunflower', sans-serif;      
 }
 nav> ul> li{   
   height: 30px;  
   padding-top: 10px;
   padding-left: 5%;
   color: #fff;
 }
 nav> ul> li::before{
   content: '';
   position: absolute;
   bottom: 0%;
   left: 0px;
   width: 100%;
   height: 2px;
   background: tan;
   display: block;
   -webkit-transform-origin: right top;
   -ms-transform-origin: right top;
   transform-origin: right top;
   -webkit-transform: scale(0,1);
   -ms-transform: scale(0,1);
   transform: scale(0,1);
   -webkit-transition: transform 0.4s cubic-bezier(1,0,0,1);
   transition: transform 0.4s cubic-bezier(1,0,0,1);
 }
 nav> ul> li:hover::before{
   -webkit-transform-origin: left top;
   -ms-transform-origin: left top;
   transform-origin: left top;
   -webkit-transform: scale(1, 1);
   -ms-transform: scale(1, 1);
   transform: scale(1, 1)      
 }
 nav> ul> li:hover{
   color: tan;
   font-size: 110%;
   cursor: pointer;
 }
 nav> ul> li:nth-child(1){
   background-color: #222;
   flex:0 0 45%
 }
 nav> ul> li:nth-child(2),
 nav> ul> li:nth-child(3){
   background-color: #222;
   flex:0 0 20%
 }
 

 /* 메인 */
 .back-img{
   width: 100%;
   /* height: 100vh; */
   background-color: #333;
 }
 /* 메인 프로필내용 */
 main> div> ul> li{
   display: flex;
   margin-bottom: 8px;
 }
 .profile{
   width: 1200px;
   display: none;
   padding:100px;
   font-size: 20px;
   color: #fff;
   margin: 0 auto;
   
 }
 .sm-profile{
   font-size: 15px;
 }
 main> div> div> img{
   width: 250px; 
   height: 300px; 
   object-fit: cover; 
   margin-right: 30px;
   border-radius: 20px;
 }
 .div-left{
   width: 130px;
 }
 .div-right{
   width: 320px;
 }
 #myVideo {
   width: 100%;
   height: 100vh;
   object-fit: cover;
   /* position: absolute;
   right: 0;
   bottom: 0;
   min-width: 100%; 
   min-height: 100%; */
 }
/* 슬라이드  */

.slide-wrapper{  
  width: 1000px;
  padding-top: 70px;
  display: none;
  margin: 0 auto;
 }
.slide-title{
  color: #fff;
  padding-left: 50px;
  padding-bottom: 20px;
}
